ServerLog/ServerLog/myfiles/log.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="Log">
	<xs:complexType>
		<xs:sequence>
			<xs:element name="applicazione" type="xs:string"/>
			<xs:element name="timestamp" type="xs:string"/>
			<xs:element name="ipClient" type="xs:string"/>
			<xs:element name="evento" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
</xs:element>
</xs:schema>